{% extends 'GestionApp/base.html' %}
{% block content %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-4 text-dark"> <b>GESTIONNAIRE DE MEMBRE </b></h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">tableau de bord</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner">
                {% if all %}
                 <h3>{{all}}</h3>
                {% else %}
                  <h2>pas d'enregistrement</h2>
                {% endif %}
                <!--h3>11</h3--->
                <p>utilisateur</p>
              </div>
              <div class="icon">
                <i class="ion ion-android-people"></i>
              </div>
              <a href="{% url 'viewUser' %}" class="small-box-footer">voir <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
              <div class="inner">
                {% if mbr_all %}
                 <h3>{{mbr_all}}</h3>
                {% else %}
                  <h2>pas d'enregistrement</h2>
                {% endif %}
                <!--h3>53<sup style="font-size: 20px">%</sup></h3-->
                <p>Membre</p>
              </div>
              <div class="icon">
                <i class="ion ion-android-person-add"></i>
              </div>
              <a href="{% url 'form' %}" class="small-box-footer">Ajouter <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
              <div class="inner">
                <!--h3>44</h3-->
                <h2>
                  <i class="ion ion-edit"></i>
                </h2>
                <p>Maj</p>
              </div>
              <div class="icon">
                <i class="ion ion-ios-compose"></i>
              </div>
              <a href="{% url 'modiform' %}" class="small-box-footer">Modifier <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-danger">
              <div class="inner">
                <!--h3>65</h3-->
                <h2>
                  <i class="ion ion-ios-trash-outline"></i>
                </h2>
                <p>Suprimer un Membre</p>
              </div>
              <div class="icon">
                <i class="ion ion-android-delete"></i>
              </div>
              <a href="{% url 'suprimbr' %}" class="small-box-footer">suprimer <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
        </div>
        <!-- /.row -->
        <!-- Main row -->
        <div class="row">
          <!-- Left col -->
          <section class="col-lg-7 connectedSortable">
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-header">
                    <h3 class="card-title">utilisateur</h3>
                    <div class="card-tools">
                      <!--div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
                        <div class="input-group-append">
                          <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                        </div>
                      </div-->
                    </div>
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body table-responsive p-0" style="height: 300px;">
                    <table class="table table-head-fixed">
                      {% if rl %}
                      <thead>
                      <tr>
                        <th>ID</th>
                        <th>profile</th>
                        <th>nom</th>
                        <th>email</th>
                        <th>statut</th>
                      </tr>
                      </thead>
                      <tbody>
                      {% for st in rl %}
                      <tr>
                        <td>{{st.id}}</td>
                        <td>
                          <img src="{{st.profile.profile_picture.url}}" class="img-circle elevation-2" style="height: 30px;" alt="User Image">
                        </td>
                        <td>{{st.username}}</td>
                        <td>{{st.email}}</td>
                        <td>
                          {% if st.is_staff %}
                          <span class="badge bg-primary">Membre du staff</span>
                          {% else %}
                          <span class="badge bg-danger">pas Membre du staff</span>
                          {% endif %}
                        </td>
                      </tr>
                      {% endfor %}
                      </tbody>
                      {% else %}
                      <h4 class="text-center alert alert-warning"> pas d'enregistrement</h4>
                      {% endif %}
                    </table>
                  </div>
                  <!-- /.card-body -->
                </div>
                <!-- /.card -->
              </div>
            </div>
            <!-- /.card -->
          </section>
          <!-- /.Left col -->
          <!-- right col (We are only adding the ID to make the widgets sortable)-->
          <section class="col-lg-5 connectedSortable">
            <div style=" width:90% ">
             <canvas id="myChart"></canvas>
           </div>
            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
            <script>
              const ctx = document.getElementById('myChart');
              new Chart(ctx, {
                type: 'doughnut',
                data: {
                   labels: {{labels|safe}},
                   datasets: [{
                      label: 'id du membre',
                      data: {{data|safe}},
                      borderWidth: 0
                  }]
                }
              });
            </script>
            <!-- Calendar -->
            <!--div class="card bg-gradient-success">
              <div class="card-header border-0">

                <h3 class="card-title">
                  <i class="far fa-calendar-alt"></i>
                  Calendar
                </h3>

                <div class="card-tools">

                  <div class="btn-group">
                    <button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown">
                      <i class="fas fa-bars"></i></button>
                    <div class="dropdown-menu float-right" role="menu">
                      <a href="#" class="dropdown-item">Add new event</a>
                      <a href="#" class="dropdown-item">Clear events</a>
                      <div class="dropdown-divider"></div>
                      <a href="#" class="dropdown-item">View calendar</a>
                    </div>
                  </div>
                  <button type="button" class="btn btn-success btn-sm" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-success btn-sm" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                  </button>
                </div>

              </div>

              <div class="card-body pt-0">

                <div id="calendar" style="width: 100%"></div>
              </div-->
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </section>

          <!-- right col -->
        </div>
        <!-- /.row (main row) -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
{% endblock %}